<div class="tarjeta-libro">

  <div class="tarjeta-superior">

    <!-- FOTO -->
    <div class="portada-libro">
      <img [src]="libro.url" [alt]="libro.title">

      <div class="etiqueta-genero">
  {{ libro.category }}
</div>

    <!-- INFO -->
    <div class="contenido-libro">
      <h3 class="titulo-libro">{{ libro.title }}</h3>
      <p class="autor-libro">{{ libro.author }}</p>
      <p class="descripcion-libro">{{ libro.description }}</p>
    </div>

  </div>

  <!-- BOTONES ABAJO -->
  <div class="acciones-libro">

    <button class="boton-accion boton-favorito" [class.activo]="esFavorito" (click)="alternarFavorito()">
      <!-- Estado animación -->
      <span *ngIf="animacionFavorito">✔ Guardado</span>
      <!-- Estado favorito activo -->
      <span *ngIf="!animacionFavorito && esFavorito">❌ Quitar</span>
      <!-- Estado normal -->
      <span *ngIf="!animacionFavorito && !esFavorito">🤍 Favoritos</span>
    </button>

    <button class="boton-accion boton-carrito" [class.activo]="estaEnCarritoCompra" (click)="agregarCompra()">
      <span *ngIf="!estaEnCarritoCompra">🛒 Carrito ({{ libro.sellPrice | currency:'EUR' }})</span>
      <span *ngIf="estaEnCarritoCompra">✔ Añadido</span>
    </button>

    <button class="boton-accion boton-alquiler" [class.activo]="estaEnCarritoAlquiler" (click)="agregarAlquiler()">
      <span *ngIf="!estaEnCarritoAlquiler">📖 Alquilar ({{ libro.rentPrice * 0.5 | currency:'EUR' }})</span>
      <span *ngIf="estaEnCarritoAlquiler">✔ Añadido</span>
    </button>

  </div>

</div>