<div class="container mt-4">
  <div class="row">
    <div class="col mt-2 text-center">
      <h1>Crear una cuenta</h1>
    </div>
  </div>

  <div class="row d-flex justify-content-center m-4">
    <div class="border rounded shadow col-md-8">

      <!-- Error -->
      <div class="text-danger m-3" role="alert">
        @if (this.errorMessage.length > 0) {
        <p>{{ this.errorMessage }}</p>
        }
      </div>

      <!-- Éxito -->
      <div class="text-success m-3" aria-live="polite">
        @if (this.successMessage.length > 0) {
        <p>{{ this.successMessage }}</p>
        }
      </div>

      <form [formGroup]="form" (submit)="onSubmit()" novalidate>

        <!-- Nombre -->
        <div class="m-3">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" id="name" class="form-control" formControlName="name" placeholder="Nombre..." required
            [attr.aria-invalid]="form.get('name')?.invalid && form.get('name')?.touched" />
          <div class="text-danger mt-2 ms-2" aria-live="polite">
            @if (form.get('name')?.touched) {
            @if (form.get('name')?.errors?.['required']) {
            <p>El nombre no puede estar vacío</p>
            }
            @if (form.get('name')?.errors?.['minlength']) {
            <p>El nombre debe tener al menos 2 caracteres</p>
            }
            }
          </div>
        </div>

        <!-- Apellido -->
        <div class="m-3">
          <label for="lastname" class="form-label">Apellidos</label>
          <input type="text" id="lastname" class="form-control" formControlName="lastname" placeholder="Apellidos..."
            required [attr.aria-invalid]="form.get('lastname')?.invalid && form.get('lastname')?.touched" />
          <div class="text-danger mt-2 ms-2" aria-live="polite">
            @if (form.get('lastname')?.touched) {
            @if (form.get('lastname')?.errors?.['required']) {
            <p>Los apellidos no pueden estar vacíos</p>
            }
            @if (form.get('lastname')?.errors?.['minlength']) {
            <p>Los apellidos deben tener al menos 2 caracteres</p>
            }
            }
          </div>
        </div>

        <!-- EMAIL -->
        <div class="m-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" class="form-control" formControlName="email" placeholder="Email..." required
            [attr.aria-invalid]="form.get('email')?.invalid && form.get('email')?.touched" />
          <div class="text-danger mt-2 ms-2" aria-live="polite">
            @if (form.get('email')?.touched) {
            @if (form.get('email')?.errors?.['required']) {
            <p>El email no puede estar vacío</p>
            }
            @if (form.get('email')?.errors?.['pattern']) {
            <p>Introduce un email válido</p>
            }
            @if (form.get('email')?.errors?.['minlength']) {
            <p>El email debe tener al menos 6 caracteres</p>
            }
            }
          </div>
        </div>

        <!-- Contraseña -->
        <div class="m-3">
          <label for="password" class="form-label">Contraseña</label>
          <div class="input-group">
            <input [type]="passwordVisible ? 'text' : 'password'" id="password" class="form-control"
              formControlName="password" placeholder="Contraseña..." required
              [attr.aria-invalid]="form.get('password')?.invalid && form.get('password')?.touched" />
            <span class="input-group-text border-0">
              <app-password-toggler (toggleVisibility)="togglePasswordVisibility($event)"
                aria-label="Mostrar u ocultar contraseña"></app-password-toggler>
            </span>
          </div>
          <div class="text-danger mt-2 ms-2" aria-live="polite">
            @if (form.get('password')?.touched) {
            @if (form.get('password')?.errors?.['required']) {
            <p>La contraseña no puede estar vacía</p>
            }
            @if (form.get('password')?.errors?.['minlength']) {
            <p>La contraseña debe tener al menos 6 caracteres</p>
            }
            }
          </div>
        </div>

        <!-- Confirmar contraseña -->
        <div class="m-3">
          <label for="confirmPassword" class="form-label">Repetir Contraseña</label>
          <div class="input-group">
            <input [type]="confirmPasswordVisible ? 'text' : 'password'" id="confirmPassword" class="form-control"
              formControlName="confirmPassword" placeholder="Contraseña..." required
              [attr.aria-invalid]="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched" />
            <span class="input-group-text border-0">
              <app-password-toggler (toggleVisibility)="toggleConfirmPasswordVisibility($event)"
                aria-label="Mostrar u ocultar contraseña"></app-password-toggler>
            </span>
          </div>
          <div class="text-danger mt-2 ms-2" aria-live="polite">
            @if (form.get('confirmPassword')?.touched) {
            @if (form.errors?.['passwordMismatch']) {
            <p>Las contraseñas no coinciden</p>
            }
            }
          </div>
        </div>

        <!-- DNI -->
        <div class="m-3">
          <label for="id" class="form-label">DNI</label>
          <input type="text" id="id" class="form-control" formControlName="id" placeholder="DNI..." required
            [attr.aria-invalid]="form.get('id')?.invalid && form.get('id')?.touched" />
          <div class="text-danger mt-2 ms-2" aria-live="polite">
            @if (form.get('id')?.touched) {
            @if (form.get('id')?.errors?.['required']) {
            <p>El DNI no puede estar vacío</p>
            }
            @if (form.get('id')?.errors?.['pattern']) {
            <p>Introduce un DNI válido</p>
            }
            }
          </div>
        </div>

        <!-- F. Nacimiento -->
        <div class="m-3">
          <label for="birthday" class="form-label">Fecha de Nacimiento</label>
          <input type="date" id="birthday" class="form-control" formControlName="birthday" required
            [attr.aria-invalid]="form.get('birthday')?.invalid && form.get('birthday')?.touched" />
          <div class="text-danger mt-2 ms-2" aria-live="polite">
            @if (form.get('birthday')?.touched) {
            @if (form.get('birthday')?.errors?.['required']) {
            <p>Selecciona una fecha de nacimiento</p>
            }
            }
          </div>
        </div>

        <!-- Ciudad -->
        <div class="m-3">
          <label for="city" class="form-label">Localidad</label>
          <input type="text" id="city" class="form-control" formControlName="city" placeholder="Localidad..." required
            [attr.aria-invalid]="form.get('city')?.invalid && form.get('city')?.touched" />
          <div class="text-danger mt-2 ms-2" aria-live="polite">
            @if (form.get('city')?.touched) {
            @if (form.get('city')?.errors?.['required']) {
            <p>La localidad no puede estar vacía</p>
            }
            @if (form.get('city')?.errors?.['minlength']) {
            <p>Debe tener al menos 3 caracteres</p>
            }
            }
          </div>
        </div>

        <!-- Dirección -->
        <div class="m-3">
          <label for="address" class="form-label">Dirección</label>
          <input type="text" id="address" class="form-control" formControlName="address" placeholder="Dirección..."
            required [attr.aria-invalid]="form.get('address')?.invalid && form.get('address')?.touched" />
          <div class="text-danger mt-2 ms-2" aria-live="polite">
            @if (form.get('address')?.touched) {
            @if (form.get('address')?.errors?.['required']) {
            <p>La dirección no puede estar vacía</p>
            }
            @if (form.get('address')?.errors?.['minlength']) {
            <p>Debe tener al menos 3 caracteres</p>
            }
            }
          </div>
        </div>

        <!-- C. Postal -->
        <div class="m-3">
          <label for="postalCode" class="form-label">Código postal</label>
          <input type="text" id="postalCode" class="form-control" formControlName="postalCode"
            placeholder="Código Postal..." required
            [attr.aria-invalid]="form.get('postalCode')?.invalid && form.get('postalCode')?.touched" />
          <div class="text-danger mt-2 ms-2" aria-live="polite">
            @if (form.get('postalCode')?.touched) {
            @if (form.get('postalCode')?.errors?.['required']) {
            <p>El código postal no puede estar vacío</p>
            }
            @if (form.get('postalCode')?.errors?.['pattern']) {
            <p>Introduce un código postal válido</p>
            }
            }
          </div>
        </div>

        <!-- Teléfono -->
        <div class="m-3">
          <label for="phone" class="form-label">Teléfono</label>
          <input type="text" id="phone" class="form-control" formControlName="phone" placeholder="Teléfono..." required
            [attr.aria-invalid]="form.get('phone')?.invalid && form.get('phone')?.touched" />
          <div class="text-danger mt-2 ms-2" aria-live="polite">
            @if (form.get('phone')?.touched) {
            @if (form.get('phone')?.errors?.['required']) {
            <p>El teléfono no puede estar vacío</p>
            }
            @if (form.get('phone')?.errors?.['pattern']) {
            <p>Introduce un teléfono válido</p>
            }
            }
          </div>
        </div>

        <!-- Botón crear cuenta -->
        <div class="d-flex justify-content-center m-3">
          <button type="submit" class="btn btn-success col-12 m-3 p-3" [disabled]="form.invalid || validating"
            [attr.aria-busy]="validating">
            Crear cuenta
            @if (validating) {
            <span class="spinner-border spinner-border-sm ml-5"></span>
            <span class="visually-hidden">Cargando...</span>
            }
          </button>
        </div>

      </form>
    </div>
  </div>

  <div class="row mt-3 mb-4">
    <div class="col">
      <h4 class="text-center">¿Ya tienes una cuenta?</h4>
      <h5 class="text-center">
        <a class="link-opacity-75-hover" [routerLink]="['/auth/login']">
          Inicia Sesión
        </a>
      </h5>
    </div>
  </div>
</div>