<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">ReBook</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categorías
          </a>
          <ul class="dropdown-menu">
            <li *ngIf="categories.length === 0">
              <span class="dropdown-item text-muted">Próximamente...</span>
            </li>

            <li *ngFor="let cat of categories">
              <a class="dropdown-item" href="#">{{ cat }}</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-danger" routerLink="/favoritos">
            <i class="bi bi-heart-fill"></i> Favoritos
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
