//GLOBAL

* {
  box-sizing: border-box;
}

:host {
  display: block;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background: #f7f3ea;
  overflow-x: hidden;
}

//TITULOS
.titulo-seccion {
  text-align: center;
  padding: 60px 10px 20px;
  color: #1f1f1f;
  font-weight: 700;
}

.contenedor-carrusel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.carrusel {
  display: flex;
  gap: 20px;
  justify-content: center; 
  align-items: stretch;
  overflow: hidden; 
  padding: 10px 0;
  max-width: 1000px; 
  width: 100%;
}

/* ITEMS */
.item-carrusel {
  flex: 0 0 auto;
  display: flex;
}


.item-carrusel app-tarjeta-libro {
  width: 300px;
}

.btn-carrusel {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #b7791f;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  flex-shrink: 0;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-carrusel.izquierda {
  margin-right: -10px;
}

.btn-carrusel.derecha {
  margin-left: -10px;
}

.btn-carrusel:hover {
  transform: scale(1.1);
}

.btn-carrusel:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.contenedor-lista {
  width: 100%;
  padding: 20px 24px;
}

.rejilla-libros {
  display: grid;
  grid-template-columns: repeat(auto-fit, 340px);
  justify-content: center;
  gap: 24px;
  width: 100%;
}

//MODAL
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  padding: 20px;
}

.modal-libro {
  background: #fff;
  width: 100%;
  max-width: 800px;
  border-radius: 16px;
  padding: 20px;
}

.modal-contenido {
  display: flex;
  gap: 20px;
}

.modal-img {
  width: 180px;
  border-radius: 10px;
}


//RESPONSIVE
@media (max-width: 1024px) {

  .carrusel {
    max-width: 700px;
  }

  .item-carrusel app-tarjeta-libro {
    width: 260px;
  }
}

@media (max-width: 768px) {

  .btn-carrusel {
    display: none;
  }

  .carrusel {
    overflow-x: auto; 
    justify-content: flex-start;
    padding: 10px;
  }

  .item-carrusel app-tarjeta-libro {
    width: 85%;
  }
}

@media (max-width: 600px) {

  .rejilla-libros {
    grid-template-columns: 1fr;
  }

  .modal-contenido {
    flex-direction: column;
  }

  .modal-img {
    width: 100%;
  }
}